%div.lightbox
  %div.lightbox_content
    %div.facebook_login.left
      %p
        Connect with your Facebook account to share recipes with your friends!
      = link_to (image_tag 'facebook-login.png'), '/auth/facebook'
    %div.regular_login.right
      %p Log in with your email address and password!
      = form_tag sessions_path do
        %div.email
          = label_tag :login, 'e-mail address', {:class=>'email_label'}
          = text_field_tag :login, params[:login]
        %div.password
          = label_tag :password, 'password', {:class=>'password_label'}
          = password_field_tag :password
        = link_to 'Forgot your password?', '#' 
        %br/
        = link_to 'Register here', new_user_path
        %br/
        = submit_tag 'Login!'
    %div.clearfix