= form_for(@recipe) do |f|
  - if @recipe.errors.any?
    %div#error_explaination
      %h2= pluralize(@recipe.errors.count, 'error') 
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg
  %div.inner.left_page
    %div.image_field
      = @recipe.image? ? image_tag(@recipe.image_url, {:class => ['preview_image', 'detail_pic'] , :size => '300x225'}) : image_tag('default.png', :size => '300x225', :class => ['default_pic', 'detail_pic'])
      %div.tape.left-tape.bottom-tape
      %div.tape.left-tape.top-tape
      = f.file_field :image, :class => 'recipe_image_upload'
    %div.field
      %div.input_wrap
        = f.label :name, "Name:"
        = f.text_field :name
    %div.field
      %div.input_wrap
        = f.label :difficulty, "Difficultly:"
        = f.select(:difficulty, ['Beginner', 'Moderate', 'Difficult', 'Expert'])
    %div.field
      %div.input_wrap
        = f.label :serving_size, "Serving Size:"
        = f.select(:serving_from, [1,2,3,4,5,6,7,8,9,"10+"])
        to
        = f.select(:serving_to, ["",2,3,4,5,6,7,8,9,"10+"])
    %div.field
      %div.input_wrap
        = f.label :cook_time, "Cook Time: "
        %p
          = select_tag 'cook_time[]', '<option selected="selected">0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option>'.html_safe
          = f.label :cook_time, "Days"
          = select_tag 'cook_time[]', '<option selected="selected">0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option>'.html_safe
          = f.label :cook_time, "Hours"
          = select_tag 'cook_time[]', '<option selected="selected">0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option>'.html_safe
          = f.label :cook_time, "Minutes"
  %div.inner.right_page.edit_page
    %h1
      = "Editing #{@recipe.name}"
    %div.right_page_inner
      %div.edit_ingredients
        %a.add_new_ingredient{:href => '#'}Add another ingredient
        - @ingredients.each do |ingredient|
          %div.ingredient
            = text_field_tag :name, ingredient['name'], {:name => 'ingredients[][name]', :class => 'ingredients-input', :placeholder => 'Enter ingredient name'}
            = text_field_tag :amount, (ingredient['amount'].nil? ? nil : ingredient['amount']), {:name => 'ingredients[][amount]', :class => 'ingredients-amount', :placeholder => 'Amount'}
            = text_field_tag :units, (ingredient['units'].nil? ? nil : ingredient['units']), {:name => 'ingredients[][units]', :class => 'ingredients-units', :placeholder => 'Units' }
      %div.prepartation
        = f.label :desc, "Preparation Instructions:"
        = f.text_area :desc, :rows => 10

      %div.actions
        = f.submit