= form_for(@recipe) do |f|
  - if @recipe.errors.any?
    %div#error_explaination
      %h2= pluralize(@recipe.errors.count, 'error') 
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg
  %div.inner.left_page
    %div.image_field
      - if @recipe.image?
        = image_tag(@recipe.image_url, {:class => ['preview_image', 'detail_pic'] , :size => '300x225'})
      - else
        %div.empty_image
      %div.tape.left-tape.bottom-tape
      %div.tape.left-tape.top-tape
      = f.file_field :image, :class => 'recipe_image_upload'
    %div.field
      %div.input_wrap
        = f.label :name, "Name:"
        = f.text_field :name
    %div.field
      %div.input_wrap
        = f.label :difficulty, "Difficultly:"
        = f.select(:difficulty, ['Beginner', 'Moderate', 'Difficult', 'Expert'])
    %div.field
      %div.input_wrap
        = f.label :serving_size, "Serving Size:"
        = f.select(:serving_from, [1,2,3,4,5,6,7,8,9,"10+"])
        to
        = f.select(:serving_to, ["",2,3,4,5,6,7,8,9,"10+"])
    %div.field
      %div.input_wrap.cook_time_value 
        Cook Time:
        %span.days 0
        %span.day_label days,
        = hidden_field_tag 'cook_time[]', "0", :class => 'hidden_days'
        %span.hours 0
        %span.hour_label hours,
        = hidden_field_tag 'cook_time[]', "0", :class => 'hidden_hours'
        %span.minutes 0
        %span.minute_label minutes
        = hidden_field_tag 'cook_time[]', "0", :class => 'hidden_minutes'
      %div.slider_wrap
        %div.slider{:data => {:cook_time => @recipe.cook_time}}
  %div.inner.right_page.edit_page
    %h1 New Recipe
    %div.right_page_inner
      %div.new_ingredients
        Ingredients:
        %a.add_new_ingredient.right{:href => '#'}Add another ingredient
        %div.ingredient_list
          %div.ingredient.example
            %label.name{:for => 'ingredients[][name]'}
              Name
            %label.amount
              Amount
            %label.units
              Units
            %label.details
              Details 
              %span{:style => 'font-size: 0.85em'}
                (ex: chopped)
          %div.ingredient
            =text_field_tag :name, nil, {:placeholder => 'Name', :name => 'ingredients[][name]', :class => 'ingredients-input'}
            =text_field_tag :amount, nil, {:placeholder => 'Amount', :name => "ingredients[][amount]", :class => 'ingredients-amount'}
            =text_field_tag :units, nil, {:placeholder => 'Units', :name => "ingredients[][units]", :class => 'ingredients-units'}
            =text_field_tag 'details', nil, {:placeholder => 'Details', :name => 'ingredients[][details]', :class => 'ingredients-details'}
      %div.prepartation
        = f.label :desc, "Preparation Instructions:"
        = f.text_area :desc, :rows => 10, :placeholder => 'How do you make it?'

      %div.actions
        = f.submit 'Create recipe', {:class => 'pretty_button save'}
        /= f.button('Cancel', {:type => 'button'})