= form_for(@recipe) do |f|
  - if @recipe.errors.any?
    %div#error_explaination
      %h2= pluralize(@recipe.errors.count, 'error') 
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg
  %div.field
    = f.label :name
    %br/
    = f.text_field :name
  %div.field
    = f.label :desc
    %br/
    = f.text_area :desc, :rows => 5
  %div.field
    = image_tag @recipe.image_url, {:class => 'preview_image' , :size => '400x300'} if @recipe.image?
    = f.file_field :image, :class => 'recipe_image_upload'
  %div.field
    = f.label :difficulty
    %br/
    = f.select(:difficulty, ['Beginner', 'Moderate', 'Difficult', 'Expert'])
  %div.field
    = f.label :serving_size
    %br/
    = f.select(:serving_from, [1,2,3,4,5,6,7,8,9,"10+"])
    to
    = f.select(:serving_to, ["",2,3,4,5,6,7,8,9,"10+"])
  %div.new_ingredients
    = f.label :ingredients
    %br/
    %input{:type => "text", :name => 'ingredients[]', :class => 'ingredients-input'}
    %div.suggestions
    %a.add_new_ingredient{:href => '#'}+
  %div.actions
    = f.submit