%div{:class => "recipe_list #{type}_list"}
  %div.recipe_picture{:id => "#{recipe.name}"}
    - if recipe.image?
      = link_to image_tag(recipe.image_url(:thumb)), recipe
    - else
      = link_to image_tag('default.png', :size => '200x200'), recipe
    %div.recipe_bottom
      %div.recipe_link
        = link_to recipe.name, recipe
      %div.right
        = pluralize(recipe.favorites, 'fork')
  %div.clearfix