%div{:class => "recipe_list #{type}_list overlay_list"}
  - recipes.each_with_index do |recipe, index|
    %div.recipe_picture{:id => "#{recipe.name}", :class => "recipe_#{index % 4} has_overlay"}
      %div.overlay
        = link_to recipe.name, recipe
        %div.overlay_info
          %h1
            = recipe.name
        %div.overlay_info
          %ul
            %div.left
              %li.ingredient= recipe.ingredients[0].name if !(recipe.ingredients[0].nil?)
              %li.ingredient= recipe.ingredients[1].name if !(recipe.ingredients[1].nil?)
            %div.left
              %li.ingredient= recipe.ingredients[2].name if !(recipe.ingredients[2].nil?)
              %li.ingredient= recipe.ingredients[3].name if !(recipe.ingredients[3].nil?)
            %div.clearfix
        %div.overlay_info
          = pluralize(recipe.favorites, 'fork')
        %div.overlay_info
          = "Difficulty: #{recipe.difficulty}"
        %div.overlay_info
          = formatted_cook_time_string(recipe.cook_time)
      %div.recipe_picture_content
        %div.tape{:class => "tape_#{index % 2}"}
        - if recipe.image?
          = link_to image_tag(recipe.image_url, :size => '275x200'), recipe
        - else
          = link_to image_tag('default.png', :size => '200x200'), recipe
        %div.name_footer
          %span=recipe.name
          
  %div.clearfix