= content_for :add_javascripts do
  = javascript_include_tag 'infinite_recipes'
%div.recipe_index_header.show_header
  = link_to 'New Recipe', new_recipe_path
  %h1 All Recipes
  %div.sorter
    = sortable 'name'
    = sortable 'date'
    = sortable 'favorites'
= render :partial => 'recipes_overlay', :locals => {:recipes => @recipes, :type => 'recipe_index'}