= stylesheet_link_tag 'application'
= javascript_include_tag 'application'
%h1 Recipes

- @recipes.each do |recipe|
  %tr
    %td= recipe.name
    %td= recipe.desc
    %td= link_to 'Show', recipe
    %td= link_to 'Edit', edit_recipe_path(recipe)
    %td= link_to 'Destroy', recipe, confirm: 'Are you sure?', method: :delete
    %br/
%br/
%a= link_to 'New Recipe', new_recipe_path