%p#notice
  = notice
= image_tag @recipe.image_url if @recipe.image?
%p
  %b Name:
  = @recipe.name
%p
  %b Created by:
  = link_to @users.first['username'], user_recipes_url(@users.first['id'])
%p
  %b Description:
  = @recipe.desc
%p
  %b Ingredients:
  = raw @recipe.ingredients.collect {|ingredient| link_to ingredient.name, ingredient}.join(', ')
- if current_user
  - if current_user.recipes.include? @recipe
    = link_to 'Edit', edit_recipe_path(@recipe)
    |
= link_to 'Back', recipes_path
