/= content_for :add_javascripts do
/  = javascript_include_tag 'recipe_rating'
%div.inner.left_page.recipe_show
  %div.first_page
    %div.recipe_image
      = @recipe.image? ? image_tag(@recipe.image_url, :size => '300x225', :class => 'detail_pic') : image_tag('default.png', :size => '300x225', :class => 'detail_pic')
      %div.tape.left-tape.bottom-tape
      %div.tape.left-tape.top-tape
      %div.recipe_details
    %h2 Details:
    %p
      Created by:
      = link_to @created_by_name, user_recipes_url(@created_by.id)
    - if !@recipe.serving_from.nil?
      %p.serving_size
        = "Serves #{@recipe.serving_from}"
        - if !@recipe.serving_to.nil?
          = " to #{@recipe.serving_to}"
    %p.rating
      Rating:
      - if @recipe.total_ratings == 0
        No ratings yet! 
      - else
        = @recipe.rating.round(2)
      - if current_user
        %p
          %a.recipe_rating{href:'#', recipe:"#{@recipe.url_slug}"}1
          %a.recipe_rating{href:'#', recipe:"#{@recipe.url_slug}"}2
          %a.recipe_rating{href:'#', recipe:"#{@recipe.url_slug}"}3
          %a.recipe_rating{href:'#', recipe:"#{@recipe.url_slug}"}4
          %a.recipe_rating{href:'#', recipe:"#{@recipe.url_slug}"}5
        %p.personal_rating
          %b< 
            Your rating:
          - if !@personal_rating.nil?
            = @personal_rating
          - else
            You haven't rated this recipe yet!
      - if @cook_time
        %p.cook_time
          Cook time: 
          = "#{pluralize(@cook_time['d'], 'Day')}" unless @cook_time['d'].nil?
          = "#{pluralize(@cook_time['h'], 'Hour')}" unless @cook_time['h'].nil?
          = "#{pluralize(@cook_time['m'], 'Minute')}" unless @cook_time['m'].nil?
  %div.second_page
    %h1 Preparation:
    %div.recipe_desc
      != convertToHtml(@recipe.desc)
    %div.turn_recipe_back.turn_recipe
      %a{:href=>'#'}back
  %div.clearfix
%div.inner.right_page.show_page
  - if current_user
    - if !@favorite
      %div.bookmark
        = link_to 'Fork it!', user_recipe_fav_url(current_user, @recipe), :method => :post, :remote => true, :dataType => 'text', :class => 'forkit_link'
    - else
      %div.bookmark.forked
        = link_to 'Forked!', user_recipe_fav_url(current_user, @recipe), :method => :post, :remote => true, :dataType => 'text', :class => 'forkit_link'
  %div.first_page
    %h1
      = @recipe.name.titleize
    - if current_user
      - if @myRecipe
        = link_to 'Edit', edit_recipe_path(@recipe)
    %div.recipe_info.right_page_inner
      %h2 Ingredients:
      %div.ingredients
        %ul.ingredient_list
          - @ingredients.each do |ingredient|
            %p.ingredient
              = link_to ingredient['ingredient'].name, ingredient['ingredient']
              = ingredient['amount']
              = ingredient['units'] unless ingredient['units'].nil?
    %p
      Turn the page for cooking instructions!
  %div.second_page
  %div.clearfix
%div.turn_recipe_page.turn_recipe
  %a{:href=>'#'}turn