%div.left_page.user_page
  %h1 Edit your profile:
  = form_for @user do |f|
    = f.text_field :display_name
    %br/
    = f.submit
%div.right_page.user_page
  - if @passwordChange
    %h1 Change your password:
    = form_for @user, :url => update_password_user_url, :method => :post do |f|
      = f.label 'Old Password'
      = password_field_tag 'old_password'
      %br
      = f.label :password
      = f.password_field :password
      %br
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      %br
      = f.submit
  - if !current_user.is_activated?
    = form_for @user, :url => generate_activate_user_url, :method => :post do |f|
      = f.label :email
      = f.text_field :email
      %br
      = f.submit 'Send Activation E-mail'