%div
  - flash.each do |name, msg|
    %div.flash{:id => "flash_#{name}"}
      = msg
%p      
  = link_to 'All Recipes!', recipes_path
  = link_to 'New Recipe', new_recipe_path if current_user
- if current_user
  %div.inner.left_page
    - if @createdRecipes
      %h2 Recipes I've added: 
      = render :partial => 'recipes/recipes', :locals => {:recipes => @createdRecipes, :type => 'created'}
    - else
      You haven't created or forked any recipes yet!
  %div.inner.right_page
    - if @forkedRecipes
      %h2 Recipes I've forked:
      = render :partial => 'recipes/recipes', :locals => {:recipes => @forkedRecipes, :type => 'rated'}
    %br/
