= stylesheet_link_tag 'application'
= javascript_include_tag 'application'

%div
  %h1 Welcome to Recipes Thing!
  - flash.each do |name, msg|
    %div.flash{:id => "flash_#{name}"}
      = msg
  - if current_user
    %h3
      Hello,
      = current_user.email
      = link_to 'Settings', edit_user_path(current_user)
      = link_to 'Log Out', log_out_path
  - else
    %h3
      Hello, stranger!
      = link_to 'Register', sign_up_path
      = link_to 'Log In', log_in_path

- if current_user
  - if current_user.recipes
    - current_user.recipes.each do |recipe|
      %div.recipe
        Name: 
        = recipe.name
        = link_to 'Details', recipe
  - else
    You haven't created or forked any recipes yet!
  %br/
  = link_to 'New Recipe', new_recipe_path