- if flash
  %div
    - flash.each do |name, msg|
      %div.flash{:id => "flash_#{name}"}
        = msg
%div.inner.left_page.index_page
  - if current_user
    = link_to 'New Recipe', new_recipe_path
    - if @recentlyViewed
      %h2 Recently Viewed Recipes: 
      = render :partial => 'recipes/recipes', :locals => {:recipes => @recentlyViewed, :type => 'index'}
    - else
      You haven't created or forked any recipes yet!
  - else
    %h1 Howdy, Stranger!
    %p You need to login or sign up start your recipe book!
  %p      
    = link_to 'Or browse other user\'s recipes!', recipes_path
%div.inner.right_page.index_page
  - if current_user
    - if @forkedRecipes
      %h2 Recently Forked Recipes:
      = render :partial => 'recipes/recipes', :locals => {:recipes => @forkedRecipes.limit(4), :type => 'index'}
      - if @forkedRecipes.count > 4
        = link_to "See all #{pluralize(@forkedRecipes.count, 'forked recipe')}.", faved_recipes_user_url(current_user)
  - else
    = render :partial => 'recipes/recipes', :locals => {:recipes => @newestRecipes, :type => 'index'}
