%div
  - flash.each do |name, msg|
    %div.flash{:id => "flash_#{name}"}
      = msg
%p      
  = link_to 'All Recipes!', recipes_path
  = link_to 'New Recipe', new_recipe_path
- if current_user
  - if @createdRecipes
    %h2 Recipes I've added: 
    = render :partial => 'recipes/recipes', :locals => {:recipes => @createdRecipes, :type => 'created'}
  - else
    You haven't created or forked any recipes yet!
  - if @ratedRecipes
    %h2 Recipes I've rated:
    = render :partial => 'recipes/recipes', :locals => {:recipes => @ratedRecipes, :type => 'rated'}
  %br/
