%div.inner.left_page.index_page
  - if current_user
    %h2.welcome
      = "Welcome back, #{@firstName}!"
    %p
      = link_to 'New Recipe', new_recipe_path    
    %p      
      = link_to 'Or browse other user\'s recipes!', recipes_path

%div.inner.right_page.index_page
  - if current_user
    - if @recentlyViewed
      %h2 Recently Viewed Recipes
      = render :partial => 'recipes/recipes', :locals => {:recipes => @recentlyViewed, :type => 'index'}
    - else
      You haven't created or forked any recipes yet!
  - else
    %h1 Howdy, Stranger!
    %p You need to login or sign up start your recipe book!
    = render :partial => 'recipes/recipes', :locals => {:recipes => @newestRecipes, :type => 'index'}

