%div.inner.left_page.index_page
  - if current_user
    %h2.welcome
      = "Welcome back, #{@firstName}!"
    - if current_user.is_activated?
      %p
        = link_to 'New Recipe', new_recipe_path 
    = form_tag("../search/recipes", :method => 'get') do
      = text_field_tag :q, nil, {:placeholder => 'Search recipes!'}
      = submit_tag 'Search'   
    %p      
      = link_to 'Browse All Recipes', recipes_path

%div.inner.right_page.index_page
  - if current_user
    - if @recentlyViewed
      %h2 Recently Viewed Recipes
      = render :partial => 'recipes/recipes', :locals => {:recipes => @recentlyViewed, :type => 'index'}
    - else
      No recipes viewed in a while!
  - else
    %h1 Howdy, Stranger!
    %p You need to login or sign up start your recipe book!
    = render :partial => 'recipes/recipes', :locals => {:recipes => @newestRecipes, :type => 'index'}

