%div.recipe_book_header
  = image_tag @avatarUrl
  %h1
    = @name + '\'s Recipe Book'
%div.left_page
  - if @createdRecipes
    - if @createdRecipes.count > 4
      = render :partial => 'recipes/recipes', :locals => {:recipes => @createdRecipes[0..3], :type => 'created'}
    - else
      = render :partial => 'recipes/recipes', :locals => {:recipes => @createdRecipes[0..@createdRecipes.count], :type => 'created'}
%div.right_page
  - if @createdRecipes.count > 4
    = render :partial => 'recipes/recipes', :locals => {:recipes => @createdRecipes[4..@createdRecipes.count], :type => 'rated'}
  %p
    :plain
      More recipes &rarr;
%div.recipe_book_page_turn.forward
  %a{:href=>'#'}turn
%div.recipe_book_page_turn.backward
  %a{:href=>'#'}turn