%div.left_page
  %h1
    = image_tag @avatarUrl
    = @name + '\'s Recipe Book'
  - if @createdRecipes
    - if @createdRecipes.count > 4
      = render :partial => 'recipes/recipes', :locals => {:recipes => @createdRecipes[0..3], :type => 'created'}
    - else
      = render :partial => 'recipes/recipes', :locals => {:recipes => @createdRecipes[0..@createdRecipes.count], :type => 'created'}
%div.right_page
  - if @createdRecipes.count > 4
    = render :partial => 'recipes/recipes', :locals => {:recipes => @createdRecipes[4..@createdRecipes.count], :type => 'rated'}