%div.left_page.user_page
  %h1
    = image_tag @avatarUrl
    = "#{@name}'s Profile"
  - if @user == current_user
    = link_to 'Edit Profile', edit_user_path(@user)
  %div.user_info
    %p
%div.right_page.user_page
  %h2 Recently Created
  %p
    = @recentCreated.name
  %h2 Recently Forked
  %p
    = @recentFav.name
