%h1
  = @user.username + '\'s Profile'
%p
  - if @user == current_user
    = link_to 'Edit Profile', edit_user_path(@user)
%h2 Recipes: 
- if @createdRecipes
  %h2 
    = "Recipes #{@identifier} added:" 
  - @createdRecipes.each do |recipe|
    %div.recipe
      Name: 
      = recipe.name
      = link_to 'Details', recipe
- if @ratedRecipes
  %h2
    = "Recipes #{@identifier} rated:"
  - @ratedRecipes.each do |recipe|
    %div.recipe
      Name:
      = recipe.name
      = link_to 'Details', recipe
%br/