%h1
  = image_tag @avatarUrl
  = @name + '\'s Profile'
%p
  - if @user == current_user
    = link_to 'Edit Profile', edit_user_path(@user)
- if @createdRecipes
  %h2 
    = "Recipes #{@name} added:" 
  - @createdRecipes.each do |recipe|
    %div.recipe
      Name: 
      = recipe.name
      = link_to 'Details', recipe
- if @ratedRecipes
  %h2
    = "Recipes #{@name} rated:"
  - @ratedRecipes.each do |recipe|
    %div.recipe
      Name:
      = recipe.name
      = link_to 'Details', recipe
%br/