- if flash
  %div.flashes
    - flash.each do |name, msg|
      %div.flash{:id => "flash_#{name}"}
        = msg
%div#status_bar
  %div.left
    = link_to 'Home', root_url
    = form_tag("../search/recipes", :method => 'get') do
      = text_field_tag :q, nil, {:placeholder => 'Search recipes!'}
      = submit_tag 'Search'
  %div.right
    - if current_user
      = link_to "Profile", current_user
      = link_to "Invite", invite_path
      = link_to "Log Out", log_out_path
    - else
      %span
        = link_to 'Login', log_in_path, :remote => true