%div#status_bar
  %div.right
    - if current_user
      %span
        = "Howdy, #{current_user.name}"
        = link_to "Profile", current_user
        = link_to "Log Out", log_out_path
    - else
      %span
        Howdy, stranger!
        = link_to "Login", log_in_path 
