!!! html5
%head
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
  = yield :add_javascripts
  = csrf_meta_tag
%body
  = render 'layouts/status_bar'
  = yield :before_wrap_content
  - if @page == false or @page.nil?
    %div.wrap.no_page
      = yield
  - elsif @page == 'left'
    %div.wrap.page_left
      = yield
  - else
    %div.wrap.page
      = yield
  = render 'layouts/footer'
